.titulos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin: auto;
}

.flotante{
    position: fixed !important;
    bottom: 45px;
    left: 90px;
}


/* .menu-flotante{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index:1000
} */


.custom-input-file {
    background-color: #0d4930;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 300px;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }


  a{
    text-decoration: none;
    color: gray;
  }

  a:hover{
    color: black;
  }

  .negro{
    color: rgb(0, 0, 0);
  }






  input[type='checkbox']:hover{
    color: rgb(240, 27, 8);
    padding: 100px;
    font-size: 30px;
  }

  .zoom_menu{
    transition: transform 0.4s ease;
  }

  .zoom_menu:hover{
    transform: scale(1.2);
  }

  .cascadia{
    font-family: cascadia code;
  }

  .tabla-usuarios-scroll{
    height: 800px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll; /* Muestra el scroll vertical cuando el contenido excede la altura */
    overflow-x: hidden; /* Oculta el scroll horizontal */
  }

  
  .reportes-scroll{
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll; /* Muestra el scroll vertical cuando el contenido excede la altura */
    overflow-x: hidden; /* Oculta el scroll horizontal */
  }



        /* Estilo básico para el menú contextual */
        .menu-contextual {
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid #ccc;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          width: 200px;
      }

      .menu-contextual ul {
          list-style-type: none;
          margin: 0;
          padding: 5px 0;
      }

      .menu-contextual ul li {
          padding: 10px;
          cursor: pointer;
      }

      .menu-contextual ul li:hover {
          background-color: #f0f0f0;
      }

      .font-size-18{
        font-size: 18px;
      }


      .scroll-tabla{
        height: 400px;
        padding: 10px;
        overflow-y: hidden; /* Muestra el scroll vertical cuando el contenido excede la altura */
        overflow-x: hidden; /* Oculta el scroll horizontal */
      }

      .suave {
        background-color: rgba(231, 227, 227, 0.8); /* Blanco con opacidad del 80% */
        border: none;
        padding: 10px; /* Espaciado interno */
        resize: vertical; /* Permite redimensionar solo verticalmente */
    }


    .badge {
      position: absolute;
      top: 1; /* Ajusta la posición vertical */
      left:2; /* Ajusta la posición horizontal */
      transform: translate(50%, -50%);
      background-color: red; /* Color del fondo del badge */
      color: white; /* Color del texto */
      border-radius: 50%; /* Hace el badge redondo */
      padding: 5px 10px; /* Espaciado interno */
      font-size: 0.75rem; /* Tamaño de fuente */
  }
  
  .zoom_menu {
      position: relative; /* Necesario para el badge */
  }


  .table td, .table th {
    padding: 0.70rem; /* Ajusta el padding aquí */
  }



  /* Inicialmente ocultar el contenido */
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Mostrar el contenido con una transición suave */
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


