.titulos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin: auto;
}

.flotante{
    position: fixed !important;
    bottom: 45px;
    left: 90px;
}

